<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/png">
    <title>Gastos Familia Mamani Flores</title>
</head>

<body>
    <div class="calendar-header">
        <div class="calendar-controls">
            <button id="prevMonth"><i class="fas fa-chevron-left"></i>Prev</button>
            <h2 id="monthYear"></h2>
            <button id="nextMonth">Next<i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
    <div>
        <table class="calendar-table">
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody id="calendarBody"></tbody>
        </table>
    </div>
    <div class="welcome">Cargando contenido...</div>
    <div class="last10"></div>
</body>

</html>