<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/date-utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main2.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/png">
    <title>Gastos de la vida</title>
</head>

<body>
    <script>
        let isAuthenticated = {{ is_authenticated| tojson }};
    </script>

    <div class="login">
        {% if user.is_authenticated %}
        <span>Hello, {{ user.username }}!</span>
        <img src="{{ user.picture }}" alt="Profile Image" style="width: 30px; height: 30px; border-radius: 50%;">
        <a href="/logout">Logout</a>
        <div id="wallet_box">
            <label for="groupSelector">Select Wallet:</label>
            <select id="groupSelector">
                {% for wallet in user.wallets %}
                <option value="{{ wallet.id }}" {% if wallet.id==user.last_visited_wallet_id %}selected{% endif %}>{{
                    wallet.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% else %}
        <span>You are not logged in.</span>
        <a href="/google_login">Login</a>
        {% endif %}
    </div>

    <div class="calendar-header">
        <div class="calendar-controls">
            <button id="prevMonth"><i class="fas fa-chevron-left"></i>Prev</button>
            <h2 id="monthYear"></h2>
            <button id="nextMonth">Next<i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
    <div>
        <table class="calendar-table">
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody id="calendarBody"></tbody>
        </table>
    </div>
    <div class="welcome">Cargando contenido...</div>
    <div id="logger"></div>
    <div class="last10"></div>

    <div id="info" class="info">
        <div class="info-content">
            <span class="close">&times;</span>
            <h3>Detalles de la Transaccion</h3>
            <p><strong>Descripción:</strong> <span id="info-description"></span></p>
            <p><strong>Monto:</strong> <span id="info-amount"></span></p>
            <p><strong>Tags:</strong> <span id="info-tags"></span></p>
            <p><strong>Creado por:</strong> <span id="info-createdBy"></span></p>
            <p><strong>Editado por:</strong> <span id="info-modifiedAt"></span></p>
            <p><strong>Fecha de creación:</strong> <span id="info-createdAt"></span></p>
        </div>
    </div>
</body>

</html>