<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad</title>
</head>
<body>
    <h1>Política de Privacidad</h1>
    <p>En nuestra aplicación, tomamos la privacidad de los usuarios muy en serio. Esta política de privacidad describe cómo recopilamos, usamos y protegemos la información proporcionada por los usuarios en relación con el uso de nuestra aplicación de gestión de registros de dinero.</p>

    <h2>1. Información Recopilada</h2>
    <p>Recopilamos los siguientes tipos de información:</p>
    <ul>
        <li><strong>Información personal:</strong> Nombre, correo electrónico y cualquier otra información proporcionada por los usuarios a través de su cuenta de Google para fines de autenticación.</li>
        <li><strong>Datos financieros:</strong> Información sobre los registros de transferencias de dinero que los usuarios gestionen a través de la aplicación.</li>
    </ul>

    <h2>2. Uso de la Información</h2>
    <p>La información recopilada es utilizada exclusivamente para:</p>
    <ul>
        <li>Proporcionar acceso seguro a la aplicación a través de autenticación con Google.</li>
        <li>Gestionar y visualizar registros de dinero de los usuarios.</li>
        <li>Mejorar la experiencia del usuario y ofrecer soporte técnico si es necesario.</li>
    </ul>

    <h2>3. Protección de la Información</h2>
    <p>Implementamos medidas de seguridad adecuadas para proteger la información personal y los datos financieros de los usuarios. Sin embargo, no podemos garantizar la seguridad total de la información transmitida a través de internet.</p>

    <h2>4. Compartir Información</h2>
    <p>No compartimos la información personal o financiera de los usuarios con terceros, salvo cuando sea requerido por la ley o con el consentimiento explícito del usuario.</p>

    <h2>5. Cambios en la Política de Privacidad</h2>
    <p>Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Notificaremos a los usuarios sobre cualquier cambio publicando la nueva política en esta página.</p>

    <p>Última actualización: 25 de septiembre de 2024</p>
</body>
</html>
